.notFoundWrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
}

.label {
    font-size: 4rem;
    font-weight: 800;
    color: var(--blue);
}

.message {
    font-size: 2rem;
    font-weight: 700;
    color: var(--white);
    padding-bottom: 2rem;
}

.link {
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}

@media (min-width: 1024px) {
    .label {
        font-size: 14.4rem;
    }

    .message {
        font-size: 3.2rem;
    }
}

