.loadingWrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--white);
}

.ldsDualRing {
    display: inline-block;
    width: 8rem;
    height: 8rem;
    align-self: center;
}
.ldsDualRing:after {
    content: " ";
    display: block;
    width: 6.4rem;
    height: 6.4rem;
    margin: auto;
    border-radius: 50%;
    border: 0.6rem solid var(--blue);
    border-color: var(--blue) transparent var(--blue) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
